<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${index.title}"></title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/docsearch.js/2.4.1/docsearch.min.css" rel="stylesheet" >
    <link href="/assets/css/docs.min.css" rel="stylesheet" >
    <link href="/css/markdown.css" rel="stylesheet" />

    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/jquery/jquery.goup.min.js"></script>

    <script th:inline="javascript" type="text/javascript">

        var loadTree = function(html,list){
            for(var index = 0;index<list.length;index++){
                var item = list[index];
                // console.log(item);
                if(item.list!=null){
                    html+='<div class="mactive bd-toc-item">';
                    html+='<a class="bd-toc-link" href="/view'+item.path+'">'+item.title+'</a>';
                    html+='<ul class="mactive nav bd-sidenav">';
                    html = loadTree(html,item.list);
                    html+='</ul>';
                    html+='</div>';
                }else {
                    if (item.path.split("/").length==2) {
                        html +='<div class="mactive bd-toc-item">';
                        html +='<a class="bd-toc-link"  href="/view' + item.path + '">' + item.title + '</a>';
                        html +='</div';
                    }else{
                        html+='<li class="mactive">';
                        html += '<a href="/view' + item.path + '">' + item.title + '</a>';
                        html+='</li>';
                    }
                }
            }
            return html;
        }

        var loadListView = function(){
            var list = [[${catalogs}]];
            // console.log(list);
            $("#bd-docs-nav").empty();
            var html = loadTree('',list.list);
            // console.log(html);
            $("#bd-docs-nav").append(html);

            var nowPath =  [[${index.path}]];
            console.log(nowPath);

            var comparePath = '/view/'+nowPath;
            var active = $("#bd-docs-nav").find("a[href='"+comparePath+"']");
            // console.log(active);

            var active = active.parent();
            while(active.hasClass("mactive")){
                active.addClass("active");
                active = active.parent();
            }

        };

        var loadIndexView = function(){
            var html = [[${index.content}]];
            // console.log(html);
            $("#main").html(html);

            $("#title").empty();

            var lastTagName = 'H2';

            var titleHtml = '';
            $("#main").children().each(function(index, element) {
                var tag = $(this);
                var tagName=tag.get(0).tagName;
                if(tagName.substr(0,1).toUpperCase()=="H"){
                    // console.log(tagName,tag.html());
                    var content = tag.html();
                    if(lastTagName == 'H3'&&tagName=='H2'){
                        titleHtml+='</ul>';
                    }
                    if(tagName == 'H2'){
                        titleHtml+='<li class="toc-entry toc-h2"><a href="#'+content+'">'+content+'</a></li>';
                    }
                    if(tagName == 'H3'){
                        if(lastTagName=='H2'){
                            titleHtml+='<ul>';
                        }
                        titleHtml+='<li class="toc-entry toc-h3"><a href="#'+content+'">'+content+'</a></li>';
                    }
                    lastTagName = tagName;
                }

            });


            $("#title").append(titleHtml);



            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        };


        $(document).ready(function () {
            loadListView();

            loadIndexView();

            $.goup({
                trigger: 100,
                bottomOffset: 150,
                locationOffset: 100,
                titleAsText: true
            });

            $(document).on("click","li[data-path]",function () {
                var tag = $(this);
                var path = tag.attr("data-path");
                console.log(path);

            })
        });

    </script>

</head>
<body>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">首页</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

    </ul>
    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"
       href="https://github.com/1991wangliang/my-book/releases">下载 MyBook</a>
</header>


<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
            <nav class="collapse bd-links" id="bd-docs-nav">
            </nav>
        </div>

        <div class="d-none d-xl-block col-xl-2 bd-toc">
            <ul class="section-nav" id="title">
            </ul>
        </div>

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" id="main" role="main">
        </main>
    </div>
</div>

</body>

</html>